button, input, a{
	&:focus, &:focus-visible{
		outline: none !important;
		box-shadow: none !important;
	}
}


body{
	font-family: $font-text-alt, sans-serif;
	letter-spacing: 0.01em;
}
.header__logo{
    font-family: $font-header;
    color: $font-color-dark;
}

.banner{
  @include banner;
}

.hero{
  width: 100%;
  height: 300px;
  @include backgrounds("../media/entrada.jpg");
  position: relative;
  z-index: 0;
  margin-bottom: 5%;
  &::before{
    content: "";
    width: 100%;
    height: 300px;
    background:rgba(0, 0, 0, 0.71);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  &-detail{
    border: 1px solid transparent;
    width: 80%;
    margin: 0 auto;
    color: white;

    h1{
      margin-top: 2.2em;
      font-size: 4.5em
    }
  }
  }

  .typewriter-effect {
    display: flex;
    justify-content: center;
    font-family: monospace;
  }
  
  .typewriter-effect > .text {
    max-width: 0;
    animation: typing 3s steps(var(--characters)) infinite;
    white-space: nowrap;
    overflow: hidden;
    font-size: calc(14px + 12vw);
  }
  
  .typewriter-effect:after {
    content: " ";
    animation: blink 1s infinite;
    animation-timing-function: step-end;
  }
  
  @keyframes typing {
    75%,
    100% {
      max-width: calc(var(--characters) * 1ch);
    }
  }
  
  @keyframes blink {
    0%,
    75%,
    100% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
  }


.texto_home{
    width: 100%; 
    min-height: 20%;   
    background-color:$bg-color-opacity ;
    position: absolute;
    top: 23%;
    .title_home{
        position: absolute;
        top: 23%;
        left: 25%;        
        color: $font-color-white;
    }

}
.titulo_main h2 {
    @extend .header__logo;
    font-size: 64px;
    margin-top: 5%;
    margin-bottom: 10%;
}
.sectionImages{
    min-height: 350px;
}
.contenido{
	
	min-width: 50vh;	
  padding-block: min(5rem, 10rem);
}
.caja_columna{
    color: #0f222b;	
    background: none;
    position: relative;
    text-align: center;
    width: 100%;
    height: 260px;
    margin: 10px; 
    background-color:transparent ;
    
    .texto{
    position: absolute;
    top: -10px;
    bottom: 15px;
    border: none;    
	  font-size: calc(12px + 0.2vw);      
    }
}   

.bgMainHome{
    @include backgrounds("../media/foto3.jpg"); 
    
}
.bgMainHome1{
    @include backgrounds("../media/foto4.jpg");
}
.parrafo p{
    @include parrafo;
}
.banner_servicios{
    @include backgrounds("../media/vista.jpg");
}
.banner_abono{
    @include backgrounds("../media/foto2.jpg");
}
.banner_contacto{
  @include backgrounds("../media/entrada.jpg");
}

.servicios img{
	border-radius: 50%;
	width: 100%;    
  box-shadow: -1px 6px 12px 1px rgba(0,0,0,0.57);;
  //padding-block: min(10rem, 10rem);
}
/* *****ABONOS hoo*********/
.pricing-area{
    margin-bottom: 5%;
}
.single-price {
  text-align: center;
  background: transparent;
  border: $border;
  transition: .7s;
  margin-top: 20px;
    .deal-top h3 {
        font-size: 25px;
        color: $font-color-dark;
        font-weight: 600;
        text-align: center;
        margin: 0;
        margin-top: -80px;  
        color: $font-color-white;    
    }
     h4 {
        font-size: 48px;
        font-weight: 500;
        color: #fff;
    
        span.sup {
        vertical-align: text-top;
        font-size: 25px;
        }  
    }
}          
.deal-top {
  position: relative;
  background: #262626;
  font-size: 16px;
  text-transform: uppercase;
  padding: 136px 24px 0;
}

.deal-bottom {
  padding: 56px 16px 0;
     ul {
  margin: 0;
  padding: 0;
     li {
  font-size: 16px;
  color: $font-color-dark;
  font-weight: 300;
  margin-top: 16px;
  margin-bottom: 26px;
  border-top: $border;
  padding-top: 16px;
  list-style: none;
     }
    }   
}
/***********Hover Imagen Banner***************/
.hover-img {
  background-color: #000;
  color: $font-color-white;
  display: inline-block;
 
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.hover-img:before,
.hover-img:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 32px solid rgba(0, 0, 0, 0.5);
  border-bottom: 32px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  
  text-transform: uppercase;
}

.hover-img:hover:before,
.hover-img:hover:after {
  transform: scale(1);
  opacity: 1;
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}


/*********FORMULARIO DE CONTACTO*****/
form{
  margin-left: 20%;
  margin-top: 5%;
  
  
}
.form-control{
  width: 50%;
  
}

/********RESERVAS*****/
.img_construccion{
  
  margin-left: 25%;
}
.texto_construccion p{
  font-size: 3rem;
  text-align: center;
}

#siteFooter{
	border-top: 2px solid $font-color-dark;
	background-color: $bg-color-opacity;
}



